@import './abstracts/variable';
@import './abstracts/utilities';

@import './animations/toast';

@import './components/form';
@import './components/navbar';
@import './components/modal';
@import './components/buttons';
@import './components/toastAlerts';

@import './pages/login';

body {
  background: $body-bg;
  color: $text-color;
}
