
@import './abstracts/variable';
@import  './abstracts/utilities';

@import './components/form';
@import './components/navbar';
@import './components/modal';
@import './components/buttons';

@import './pages/login';

body {
  background: $body-bg;
  color: $text-color;
}
