.btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 18px;

    font-size:16px;
    font-weight: 400px;

    &:disabled{
        opacity: 0.6;
        cursor: not-allowed;
    }
}

.btn-lg{
    font-size:19px;
    font-weight: 500px;
}

.btn-primary{
    background-color: $color-primary;
    color: $color-secondary;
    &:hover{
        background-color: darken($color-primary,8%);
    }
}

.btn-success {
  background-color:$color-success;

  &:hover {
    background-color: darken($color-success, 8%);
  }
}

.btn-danger {
  background-color: $color-danger;

  &:hover {
    background-color: darken($color-danger, 8%);
  }
}

.btn-outline-primary {
  background: transparent;
  border: 1px solid $color-primary;
  color: $color-primary;

  &:hover {
    background-color: $color-primary;
    color: $color-secondary;
  }
}