.toastBox{
    position: fixed;
    top: 0px;
    right:0px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding: 10px;
    z-index: 1000;

    .toast{
        position: absolute;
        color: #fff;
        width:400px;
        height:45px;
        background: $color-accent;
        box-shadow: 0 0 20px lighten($text-color, 10%);
        margin: 15px 0;
        font-weight: 500;

        .icon-box{
            background: darken($color-accent, 5%);
            height: 100%;
            padding:0 10px;
        }

        &_text{
            margin-left: 10px;
        }

        &::after{
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 5px;
            background-color: darken($color-accent, $amount: 10%);
            animation: toast-progress 5s linear forwards;
        }
    }
}
