.toastBox{
    position: fixed;
    top: 0px;
    right:0px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding: 10px;
    z-index: 1000;

    .toast{
        position: relative;
        color: #fff;
        width:400px;
        height:45px;
        box-shadow: 0 0 20px darken($text-color, 10%);
        margin: 5px 0;
        font-weight: 500;
        transform: translateX(120%);
        animation: slideInRight 2s ease forwards;

        .icon-box{
            height: 100%;
            padding:0 10px;
        }

        &_text{
            margin-left: 10px;
        }

        &::after{
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 5px;
            animation: toast-progress 5s linear forwards;
        }
    }

    .success{
        background-color: $color-success;
        .icon-box{
            background: darken($color-success, 5%);
        }
        &::after{
            background-color: darken($color-success, $amount: 10%);
        }
    }

    .error{
        background-color: $color-danger;
        .icon-box{
            background: darken($color-danger, 5%);
        }
        &::after{
            background-color: darken($color-danger, $amount: 10%);
        }
    }

     .warning{
        background-color: $color-warning;
        .icon-box{
            background: darken($color-warning, 5%);
        }
        &::after{
            background-color: darken($color-warning, $amount: 10%);
        }
    }

    .info{
        background-color: $color-info;
        .icon-box{
            background: darken($color-info, 5%);
        }
        &::after{
            background-color: darken($color-info, $amount: 10%);
        }
    }
}
