
/* Base Colors */
$body-bg:  #f7f7f7;
$body-surface: #ffffff;

$color-primary: #1876e2;
$color-danger: #800909;
$color-success: #054e0b;
$color-accent: #f59e0b;
$color-secondary:#ffffff;

$border-color: #d1d5db;
$text-color: #111827;

/* Navbar */
$navbar-bg: #031a25;
$navbar-text: #ffffff;
$navbar-hover: #3a6983;
$navbar-boder:#023146;

/* Sidebar */
// $sidebar-bg: var(--sidebar-bg);
// $sidebar-text: var(--sidebar-text);


