
/* Base Colors */
$body-bg:  #f7f7f7;
$body-surface: #ffffff;

$border-color: #d1d5db;
$text-color: #111827;
$color-secondary:#ffffff;

// default color 
$color-primary: #1876e2;
$color-danger: #dc3545;
$color-success: #198754;
$color-warning: #f59e0b;;
$color-info:#0dcaf0;
$color-black:#313131;
$color-white:#ffffff;



/* Navbar */
$navbar-bg: #031a25;
$navbar-text: #ffffff;
$navbar-hover: #3a6983;
$navbar-boder:#023146;

/* Sidebar */
// $sidebar-bg: var(--sidebar-bg);
// $sidebar-text: var(--sidebar-text);


